[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Install]
WantedBy=default.target

[Service]
ExecStartPre=/usr/bin/modprobe uinput
ExecStart=/home/lggm/.cargo/bin/kanata -c /home/lggm/.config/kanata/config.kbd
Restart=no

[Install]
WantedBy=sysinit.target

